---
layout: base.njk
---

<div class="content">
    <div class="bio-id nav">
        <a href="/">
            <img
                class="avatar"
                src="{{ meta.images.avatar.src }}"
                srcset="{{ meta.images.avatar.srcset }}"
                sizes="{{ meta.images.avatar.sizes }}"
                width="{{ meta.images.avatar.width }}"
                height="{{ meta.images.avatar.height }}"
                alt="{{ meta.images.avatar.alt }}"
                decoding="async"
            />
        </a>
        <h1>
            <a href="/">Ariel Barmat</a>
            <span>/ <a href="/{{ nav }}">{{ nav }}</a></span>
        </h1>
    </div>
    {{ content | safe }}
</div>
