---
layout: base.njk
---

<div class="content nav"">
  <div class="bio-id">
    <a href="/">
      <img class="avatar" src="/assets/images/avatar.jpg" alt="AB" />
    </a>
    <h1>
      <a href="/">Ariel Barmat</a> <span>/ <a href="/{{ nav }}">{{ nav }}</a></span>
    </h1>
  </div>
  {{ content | safe }}
</div>
