<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="300x300" href="/assets/images/avatar.jpg">
    <link rel="icon" type="image/png" sizes="300x300" href="/assets/images/avatar.jpg">
    <link rel="alternate" type="application/rss+xml" title="Ariel Barmat" href="/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="Ariel Barmat" href="/feed-atom.xml">
    <title>{{ title }}</title>
</head>

<body>
    <main>
        {{ content | safe }}
    </main>
    <footer>
    </footer>
</body>

</html>