---
permalink: /feed-atom.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Ariel Barmat</title>
  <subtitle>Personal blog and thoughts on technology, AI, and more</subtitle>
  <link href="https://abarmat.com/" rel="alternate" type="text/html"/>
  <link href="https://abarmat.com/feed-atom.xml" rel="self" type="application/atom+xml"/>
  <id>https://abarmat.com/</id>
  <updated>{% if collections.posts.length > 0 %}{{ collections.posts[0].date.toISOString() }}{% endif %}</updated>
  <author>
    <name>Ariel Barmat</name>
    <email>ariel@abarmat.com</email>
  </author>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.data.path }}" rel="alternate" type="text/html"/>
    <id>{{ post.data.path }}</id>
    <updated>{{ post.date.toISOString() }}</updated>
    <summary>{{ post.data.title }}</summary>
  </entry>
  {% endfor %}
</feed>
