---
layout: base-with-nav.njk
title: Projects | abarmat.com
nav: projects
---

<div class="content-body">
    <section class="projects">
        <div class="project">
            <h3>The Graph</h3>
            <p>
                In 2020 I joined
                <a href="https://thegraph.com/" rel="noreferrer">The Graph</a>
                as head protocol engineer to work on the largest blockchain
                indexing protocol. We built and launched the Graph Network
                <span>($GRT)</span>, and after a few years, I had the
                opportunity to lead the entire engineering team.
            </p>
        </div>

        <div class="project">
            <h3>Decentraland</h3>
            <p>
                In 2017, I became a founding engineer at
                <a href="https://decentraland.org" rel="noreferrer"
                    >Decentraland</a
                >
                <span>($MANA)</span>, where I led a team developing the first
                community-owned Metaverse. Our team pioneered a vast virtual
                world with an
                <a
                    href="https://decentraland.org/blog/platform/designing-genesis-city-roads-urban-planning/"
                    rel="noreferrer"
                    >in-game economy</a
                >, empowering players with
                <a
                    href="/introducing-the-decentraland-marketplace"
                    rel="noreferrer"
                    >ownership of digital assets</a
                >.
            </p>
        </div>

        <div class="project">
            <h3>PopChest</h3>
            <p>
                In 2016, I served as
                <a
                    href="/two-years-into-the-crypto-rabbit-hole"
                    rel="noreferrer"
                    >CTO of PopChest</a
                >, where we built a video streaming platform that allowed fans
                to directly pay content creators without intermediaries. That
                project led me to San Mateo, California, where I joined
                <a
                    href="https://medium.com/boost-vc/say-hello-to-tribe-8-a28bab4fe0bd"
                    rel="noreferrer"
                    >Tribe 8</a
                >
                of
                <a href="https://www.boost.vc" rel="noreferrer">Boost VC</a>
                incubator.
            </p>
        </div>

        <div class="project">
            <h3>Oony</h3>
            <p>
                In 2010, I co-founded
                <a href="https://www.crunchbase.com/organization/oony">Oony</a>,
                a shopping guide with automated recommendations based on users’
                preferences, which grew to feature over 3 million products
                across 15 countries. The project was originally launched as
                <a href="https://www.crunchbase.com/organization/weegoh"
                    >Weegoh</a
                >
                in 2008, the first location-based social network in Latin
                America, before pivoting to become Oony.
            </p>
        </div>
    </section>
</div>
